/*CSS DOCUMENT*/
@charset "UTF-8";

@font-face {
  font-family: 'Chewy';
  src: url(fuentes/Chewy-Regular.ttf);
}

* {
  font-family:"Rubik", sans-serif;
}

body {
  font-family:"Rubik", sans-serif;
  background-image: url(img/olga-thelavart-vS3idIiYxX0-unsplash.jpg);
}

/*aplicaciones*/

h1 { 
    font-family:'Chewy', sans-serif;
    color: indianred;
    font-size: 3.3rem;
    line-height: 1rem;
    text-align: center;
}

h2 {
  font-family: 'Chewy', sans-serif;
  color: rgba(209, 74, 50, 0.76);
  font-size: 2.5rem;
  text-align: center;
  background-color: rgb(221, 215, 210);
}

h3 {
  font-family: 'Rubik', sans-serif;
  color: rgba(99, 46, 37, 0.76);
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(221, 215, 210);
  line-height: 1.3rem;
}

p {
  text-wrap-style: balance;
  text-align: center;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

a {
  font-family: 'Chewy', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  color: indianred;
}

li {
  list-style: none;
  font-size: 1.2rem;
  background-color: rgb(221, 215, 210);
  text-wrap-style: balance;
  text-align: center;
  line-height: 1.7rem;
}

.Hero {
height: 500px;
}

.Aptitudes {
background-color: rgb(221, 215, 210);
height: 250px;
border: 3px solid indianred
}

.Habilidades {
background-color: rgb(221, 215, 210);
height: 300px;
border: 3px solid indianred
}

.Estudios {
background-color: rgb(221, 215, 210);
height: 500px;
border: 3px solid indianred
}
